<dialog open>
    <article data-theme="dark">
        <h2>{{title}}</h2>
        <div
            class=" formgrid grid " >
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" class=" appearance-none outline-none focus:border-primary w-full h-2rem ">
            </div>
            <div>
                <label for="Usuario">Usuario</label>
                <input type="text" class=" appearance-none outline-none focus:border-primary w-full h-2rem ">
            </div>
            <div>
                <label for="cargo">cargo</label>
                <select id="cargo"
                    class="w-full text-base  p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary">
                    <option>Administrador</option>
                    <option>Operador</option>
                </select>
            </div>
        </div>
        <footer>
            <button (click)="btn_conf.emit()">Confirm</button>
            <button (click)="btn_cerrar.emit()" class="bg-red-500">
                Cancel
            </button>
            <button class="bg-green-500" (click)="btn_clean.emit()">Clean</button>
        </footer>
    </article>
</dialog>

