<div class="flex justify-content-end bg-custom-primary-color p-2">
    <div class="flex justify-content-end align-items-center gap-4">
        <div class="flex flex-column gap-1 align-items-end">
            <span class="text-white">Adrian Alayon</span>
            <span class="text-white">Administrador</span>
        </div>
        <div class="flex justify-content-center align-items-center gap-1">
            <div class="border-circle p-2 bg-black-alpha-70 text-xl	">
                AA
            </div>
            <div class="pt-2">
                <details class="dropdown ">
                    <summary></summary>
                    <ul dir="rtl">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </details>
            </div>
        </div>
    </div>
</div>