/* Estilos personalizados para un dropdown cuadrado más pequeño */
.dropdown {
    /* Ancho fijo para hacer el cuadrado */
    font-size: 15px;
    /* Tamaño de fuente reducido */
    font-weight: 500;
}

.dropdown summary {
    width: 30px;
    height: 30px;
    padding: 0px 10px 0px 0px;
    /* Altura fija para hacer el cuadrado */
    display: flex;
    /* Centra el texto */
    align-items: end;
    /* Centra verticalmente */
    justify-content: end;
    /* Centra horizontalmente */
}