<div class="w-6 contenedor ">
    <details class="dropdown mt-4 ">
        <summary>
            Roles
        </summary>
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="" />
                    Usuario Master
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="" />
                    Recepcionista
                </label>
            </li>
        </ul>
    </details>
    <div class="flex justify-content-evenly">
        <div>
            <label for="">crear</label>
            <input type="checkbox">
        </div>
        <div>
            <label for="">Editar</label>
            <input type="checkbox">
        </div>
        <div>
            <label for="">Eliminar</label>
            <input type="checkbox">
        </div>
    </div>
        <details class="dropdown mt-4 w-4">
            <summary>
                Modulos
            </summary>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" name="" />
                        Usuarios
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="" />
                        Clientes
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="" />
                        Reuniones
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="" />
                        Permisos
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="" />
                        Reportes
                    </label>
                </li>
            </ul>
        </details>
</div>