
<div class="formgrid grid">
    <div class="field col">
        <label for="nombre">Nombre</label>
        <input class="custom-input" id="nombre" type="text" required>
    </div>
    <div class="field col">
        <label for="identificacion">Identificación</label>
        <input class="custom-input" id="identificacion" type="text">
    </div>
</div>
<p>Nacionalidad</p>
<div class="formgroup-inline">
    <div class="field-radiobutton">
        <input type="radio" id="identificacion_iso" name="identificacion_iso" value="e">
        <label for="identificacion_iso">E</label>
    </div>
    <div class="field-radiobutton">
        <input type="radio" id="identificacion_iso" name="identificacion_iso" value="v">
        <label for="identificacion_iso">V</label>
    </div>
</div>
<div class="formgrid grid">
    <div class="field col">
        <label for="telefono">Teléfono</label>
        <input class="custom-input" id="telefono" type="tel">
    </div>
    <div class="field col">
        <label for="direcciones">Dirección</label>
        <input class="custom-input" id="direcciones" type="text">
    </div>
</div>
<p>Género</p>
<div class="formgroup-inline">
    <div class="field-radiobutton">
        <input type="radio" id="genero" name="genero" value="m">
        <label for="genero">M</label>
    </div>
    <div class="field-radiobutton">
        <input type="radio" id="genero" name="genero" value="f">
        <label for="genero">F</label>
    </div>
</div>
<p>Parroquia</p>
<div class="formgroup-inline">
    <div class="field-radiobutton">
        <input type="radio" id="id_parroquia" name="id_parroquia" value="1">
        <label for="id_parroquia">1</label>
    </div>
    <div class="field-radiobutton">
        <input type="radio" id="id_parroquia" name="id_parroquia" value="2">
        <label for="id_parroquia">2</label>