<div class="flex  flex-column shadow-6 w-full border-round mt-3">
  <div class="flex bg-gray-800 align-items-center justify-content-between py-1 px-3">
    <p class="text-white text-4xl font-medium">{{title}}</p>
    <div>
      <input class="m-1 border-round-sm" type="search" placeholder="buscar">
    </div>
  </div>
  <div class="overflow-x-auto" >
    <table >
      <thead>
        <tr class="text-lg">
          <th scope="col" *ngFor="let colum of colums">{{colum.label}}</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data"> 
          <td *ngFor="let colum of colums">{{d[colum.key]}}</td>
          <td class="text-center">
            <app-sambox class="col" (btn_delete)="delete.emit(d)" (btn_edit)="edit.emit(d)"></app-sambox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>