<div class="flex flex-column gap-4 justify-content-center align-content-center w-5 
shadow-5 surface-50  p-5 border-round-md">
    <h1 class="text-center text-white">LOGIN</h1>
    <div class="flex flex-column gap-2 justify-content-center align-content-center">
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <label class="text-white">
            <input type="checkbox" name="recordar" checked />
            Recordar Contraseña
        </label>
    </div>
    <button>INICIAR</button>
</div>