<div class="flex">
  <!--MENU LATERAL-->
  <div class="menu-dashboard">
    <!-- TOP MENU -->
    <div class="top-menu">
      <div class="logo " alt="img">
        <img src="./img/logo.svg" alt="">
        <span>Time Glide</span>
      </div>
      <div class="toggle" (click)="openMenu()">
        <i class='bx bx-menu'></i>
      </div>
    </div>
    <!-- MENU -->
    <div class="menu" *ngFor="let menu of menus ">
      <div (click)="openMenu(true)" class="enlace">
        <i [class]="menu.icon"></i>
        <span>{{menu.label}}</span>
      </div>
    </div>
  </div>

  <div class="flex flex-column w-full">
    <!-- HEADER -->
    <app-header></app-header>
    <!-- LAYOUT -->
    <div>
      <app-tabla [title]="'Usuarios'" [colums]="columsUser" [data]="userListar" (delete)="buttomEvent($event)"
        (edit)="buttomEvent($event)"></app-tabla>
    </div>
  </div>

</div>