/* You can add global styles to this file, and also import other style files */
@import '/node_modules/primeflex/primeflex.css';
@import '/node_modules/primeflex/themes/primeone-dark.css';

:root {
  --blanco: #E0E0E0;
  --custom-primary-color-opacidad: #ee4a4a;
  --custom-primary-color: #e02525;
  --bg-body: #C7E1FF;
}

.bg-custom-primary-color{
  background-color: var(--custom-primary-color);
  color: var(--blanco);
}
.border-custom-primary-color{
  border-color: var(--custom-primary-color);
  color: var(--blanco);
}

/************** BUTTONS SM *************/
.button-sm {
  font-size: 20px;
  padding: 4px 8px;
}

/* "border-1 border-solid surface-border border-round outline-none focus:border-primary" */
.custom-input{
  width: 100%;
  padding: 10px;
  border-width:1px ;
  border-style:solid ;
  outline: none;
}

.custom-input:focus{
  border-color: var(--custom-primary-color);
}